In [ ]:
#installs
#pip install datapane
#pip install ipywidgets
#conda install -c conda-forge ipywidgets

In [1]:
#imports
import pandas as pd
import seaborn as sns
import numpy as np

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

import datapane as dp 
import plotly.express as px

In [81]:
#importing dataset scraped from Twitter by Tiber (manually altered CSV file, bacause Niger column contained strings
#replaced strings with integers)
#data = pd.read_csv('C:/Users/eb808/Downloads/schmidt_team4-master (2)/schmidt_team4-master/fromMay20.csv')
#data

,Unnamed: 0,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
0,2020-08-18 22:20:18+00:00,2.0,0.0,0.0,4.0,11.0,0.0,0,0.0,0,...,16.0,30.0,0,13.0,21.0,1.0,0.0,0.0,0.0,0
1,2020-08-17 22:25:45+00:00,28.0,0.0,0.0,21.0,13.0,0.0,0,0.0,0,...,1.0,38.0,0,9.0,20.0,0.0,0.0,0.0,0.0,0
2,2020-08-16 22:27:47+00:00,0.0,0.0,4.0,0.0,1.0,0.0,0,3.0,4,...,18.0,14.0,17,6.0,108.0,1.0,0.0,0.0,0.0,0
3,2020-08-15 22:26:18+00:00,0.0,0.0,0.0,0.0,1.0,0.0,0,1.0,0,...,10.0,8.0,8,9.0,19.0,12.0,0.0,0.0,0.0,0
4,2020-08-14 22:42:06+00:00,0.0,0.0,5.0,0.0,1.0,6.0,0,4.0,0,...,14.0,0.0,10,8.0,24.0,2.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2020-05-23 22:51:25+00:00,0.0,0.0,0.0,NaN,NaN,0.0,0,NaN,0,...,NaN,0.0,0,NaN,NaN,0.0,0.0,0.0,0.0,0
87,2020-05-22 22:35:01+00:00,0.0,0.0,NaN,NaN,NaN,NaN,0,NaN,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0.0,NaN,0
88,2020-05-21 22:48:23+00:00,0.0,NaN,0.0,0.0,NaN,0.0,0,0.0,0,...,NaN,NaN,0,NaN,NaN,NaN,0.0,0.0,NaN,0
89,2020-05-20 22:20:41+00:00,NaN,0.0,0.0,0.0,0.0,0.0,0,NaN,0,...,0.0,0.0,0,NaN,NaN,NaN,0.0,NaN,0.0,0
90,2020-05-19 22:39:07+00:00,0.0,NaN,0.0,0.0,NaN,NaN,0,NaN,0,...,NaN,0.0,0,NaN,NaN,0.0,0.0,0.0,0.0,0

In [82]:
#replace all nans with 0
#data = data.replace(np.nan,0)

In [86]:
#make another dataframe that everyday adds previous number of cases to new cases
summed_data = data.copy()

for a in range(len(data.columns)-1):

    col_n = summed_data.iloc[:,a+1].tolist()
    new_col_values = []
    i = 0
    
    for value in col_n:
        i = i+value
        new_col_values.append(i)

    summed_data.iloc[:,a+1] = new_col_values
summed_data

,Unnamed: 0,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
0,2020-08-18 22:20:18+00:00,2.0,0.0,0.0,4.0,11.0,0.0,0,0.0,0,...,16.0,30.0,0,13.0,21.0,1.0,0.0,0.0,0.0,0
1,2020-08-17 22:25:45+00:00,30.0,0.0,0.0,25.0,24.0,0.0,0,0.0,0,...,17.0,68.0,0,22.0,41.0,1.0,0.0,0.0,0.0,0
2,2020-08-16 22:27:47+00:00,30.0,0.0,4.0,25.0,25.0,0.0,0,3.0,4,...,35.0,82.0,17,28.0,149.0,2.0,0.0,0.0,0.0,0
3,2020-08-15 22:26:18+00:00,30.0,0.0,4.0,25.0,26.0,0.0,0,4.0,4,...,45.0,90.0,25,37.0,168.0,14.0,0.0,0.0,0.0,0
4,2020-08-14 22:42:06+00:00,30.0,0.0,9.0,25.0,27.0,6.0,0,8.0,4,...,59.0,90.0,35,45.0,192.0,16.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2020-05-23 22:51:25+00:00,666.0,154.0,226.0,172.0,364.0,311.0,392,414.0,69,...,1283.0,1307.0,675,2671.0,1726.0,1771.0,39.0,55.0,18.0,0
87,2020-05-22 22:35:01+00:00,666.0,154.0,226.0,172.0,364.0,311.0,392,414.0,69,...,1283.0,1307.0,675,2671.0,1726.0,1771.0,39.0,55.0,18.0,0
88,2020-05-21 22:48:23+00:00,666.0,154.0,226.0,172.0,364.0,311.0,392,414.0,69,...,1283.0,1307.0,675,2671.0,1726.0,1771.0,39.0,55.0,18.0,0
89,2020-05-20 22:20:41+00:00,666.0,154.0,226.0,172.0,364.0,311.0,392,414.0,69,...,1283.0,1307.0,675,2671.0,1726.0,1771.0,39.0,55.0,18.0,0
90,2020-05-19 22:39:07+00:00,666.0,154.0,226.0,172.0,364.0,311.0,392,414.0,69,...,1283.0,1307.0,675,2671.0,1726.0,1771.0,39.0,55.0,18.0,0

In [88]:
#save new dataset as a new csv file
summed_data.to_csv('data/summed_data.csv')

In [177]:
#makes barplot for covid 19 cases using twitter scrape data

def f(State):
    #fig = px.line(x =data['Unnamed: 0'], y = data[State][::-1]) 
    
    fig = px.bar(x=data['Unnamed: 0'], y=data[State][::-1],labels=dict(x='Date', y="Number of Covid-19 cases"))
    return fig
fig1 = interact(f, State=state_list)
fig1

interactive(children=(Dropdown(description='State', options=('Abia', 'Adamawa', 'Akwa Ibom', 'Anambra', 'Bauch…

In [178]:
#explored options for saving figures as html files
#import plotly.graph_objects as go
#help(go.Figure.write_html)

In [169]:
#makes barplot with cumulative cases

def f(State):
    #fig = px.line(x =data['Unnamed: 0'], y = data[State][::-1]) 
    
    fig = px.bar(x=summed_data['Unnamed: 0'], y=summed_data[State][::-1],labels=dict(x='Date', y="Number of Covid-19 cases"))
    fig.show()
fig2 = interact(f, State=state_list)

interactive(children=(Dropdown(description='State', options=('Abia', 'Adamawa', 'Akwa Ibom', 'Anambra', 'Bauch…