In [1]:
# import urllib.request
# import pandas as pd

In [2]:
# urllib.request.urlretrieve('https://energydata.info/dataset/f85d1796-e7f2-4630-be84-79420174e3bd/resource/6e640a13-cab4-457b-b9e6-0336051bac27/download/healthmopupandbaselinenmisfacility.csv', 'healthmopupandbaselinenmisfacility.csv')
# hospital_data = pd.read_csv('healthmopupandbaselinenmisfacility.csv')

In [4]:
# hospital_data.to_csv('data/health_facilities.csv')

# import os
# os.remove('healthmopupandbaselinenmisfacility.csv')

# # => result is that we now have a nicely named .csv file within the 'data' directory and nothing else
# # seems like a very messy way of achieving this, but oh well

# Hospital Data (health_facilities)

In [11]:
hospital_data = pd.read_csv('data/health_facilities.csv')

In [12]:
hospital_data.head()

,Unnamed: 0,facility_name,facility_type_display,maternal_health_delivery_services,emergency_transport,skilled_birth_attendant,num_chews_fulltime,phcn_electricity,c_section_yn,child_health_measles_immun_calc,...,antenatal_care_yn,family_planning_yn,malaria_treatment_artemisinin,sector,formhub_photo_id,gps,survey_id,unique_lga,latitude,longitude
0,0,HEALTH POST KAGBANG,Health Post,True,True,False,1.0,True,False,True,...,True,False,True,health,1393335750723.jpg,6.54340807 9.08470312 218.8000030517578 5.0,451a0efb-5fa6-4bad-93cd-7cf19eb50833,cross_river_obudu,6.543408,9.084703
1,1,Alhari Clinic,Primary Health Centre (PHC),True,True,True,4.0,True,False,True,...,True,False,True,health,1393316873034.jpg,9.00720861 7.67780798 432.8999938964844 5.0,5ddb68d6-02d2-44de-9df3-ebc840a1da42,nasarawa_karu,9.007209,7.677808
2,2,Primary health centre umukuru okehi,Basic Health Centre / Primary Health Clinic,True,True,True,2.0,True,True,True,...,True,True,True,health,1393594715772.jpg,5.1297 7.1592 73.3 5,2173b656-14eb-400d-9eef-76830379b065,rivers_etche,5.129700,7.159200
3,3,PHC EHOM CENTRAL,Primary Health Centre (PHC),True,False,False,2.0,False,False,True,...,True,True,True,health,1393330657159.jpg,5.4633 8.1464 117.8 5,963abf9d-5a72-4b35-811e-9c1830adc88b,cross_river_biase,5.463300,8.146400
4,4,Health post,Health Post,True,False,False,0.0,False,False,True,...,True,True,True,health,1393342042946.jpg,5.504 8.0251 52.4 5,9d09aaac-578c-4a48-a054-dee678a05422,cross_river_biase,5.504000,8.025100

In [14]:
hospital_data.shape

(34139, 31)

In [49]:
hospital_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34139 entries, 0 to 34138
Data columns (total 31 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         34139 non-null  int64
 1   facility_name                      33526 non-null  object
 2   facility_type_display              34024 non-null  object
 3   maternal_health_delivery_services  33451 non-null  object
 4   emergency_transport                34139 non-null  bool
 5   skilled_birth_attendant            33255 non-null  object
 6   num_chews_fulltime                 33705 non-null  float64
 7   phcn_electricity                   29781 non-null  object
 8   c_section_yn                       33578 non-null  object
 9   child_health_measles_immun_calc    29351 non-null  object
 10  num_nurses_fulltime                31643 non-null  float64
 11  num_nursemidwives_fulltime         33166 non-null  float64
 12  num_doctors_fulltime               31974 non-null  float64
 13  date_of_survey                     34139 non-null  object
 14  facility_id                        34139 non-null  object
 15  community                          34036 non-null  object
 16  ward                               33936 non-null  object
 17  management                         29385 non-null  object
 18  improved_water_supply              29715 non-null  object
 19  improved_sanitation                34071 non-null  object
 20  vaccines_fridge_freezer            29285 non-null  object
 21  antenatal_care_yn                  33473 non-null  object
 22  family_planning_yn                 33385 non-null  object
 23  malaria_treatment_artemisinin      33476 non-null  object
 24  sector                             34139 non-null  object
 25  formhub_photo_id                   34136 non-null  object
 26  gps                                34139 non-null  object
 27  survey_id                          34139 non-null  object
 28  unique_lga                         34139 non-null  object
 29  latitude                           34139 non-null  float64
 30  longitude                          34139 non-null  float64
dtypes: bool(1), float64(6), int64(1), object(23)
memory usage: 7.8+ MB

In [54]:
hospital_data_trimmed = hospital_data.drop(hospital_data.columns[[0, 1, 25, 27, 28]], axis=1)
hospital_data_trimmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34139 entries, 0 to 34138
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   facility_type_display              34024 non-null  object
 1   maternal_health_delivery_services  33451 non-null  object
 2   emergency_transport                34139 non-null  bool
 3   skilled_birth_attendant            33255 non-null  object
 4   num_chews_fulltime                 33705 non-null  float64
 5   phcn_electricity                   29781 non-null  object
 6   c_section_yn                       33578 non-null  object
 7   child_health_measles_immun_calc    29351 non-null  object
 8   num_nurses_fulltime                31643 non-null  float64
 9   num_nursemidwives_fulltime         33166 non-null  float64
 10  num_doctors_fulltime               31974 non-null  float64
 11  date_of_survey                     34139 non-null  object
 12  facility_id                        34139 non-null  object
 13  community                          34036 non-null  object
 14  ward                               33936 non-null  object
 15  management                         29385 non-null  object
 16  improved_water_supply              29715 non-null  object
 17  improved_sanitation                34071 non-null  object
 18  vaccines_fridge_freezer            29285 non-null  object
 19  antenatal_care_yn                  33473 non-null  object
 20  family_planning_yn                 33385 non-null  object
 21  malaria_treatment_artemisinin      33476 non-null  object
 22  sector                             34139 non-null  object
 23  gps                                34139 non-null  object
 24  latitude                           34139 non-null  float64
 25  longitude                          34139 non-null  float64
dtypes: bool(1), float64(6), object(19)
memory usage: 6.5+ MB

In [59]:
hospital_data_trimmed[['ward']].info()
hospital_data_trimmed['ward'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34139 entries, 0 to 34138
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ward    33936 non-null  object
dtypes: object(1)
memory usage: 266.8+ KB

13987

In [53]:
# hospital_data_minimal = hospital_data_trimmed.dropna(axis=0, how='any')
# hospital_data_minimal.info()

# not worth it, lose loads of data rows
# =>> will need to fill na somehow, for the columns that we decide are most interesting

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26603 entries, 0 to 34138
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   facility_type_display              26603 non-null  object
 1   maternal_health_delivery_services  26603 non-null  object
 2   emergency_transport                26603 non-null  bool
 3   skilled_birth_attendant            26603 non-null  object
 4   num_chews_fulltime                 26603 non-null  float64
 5   phcn_electricity                   26603 non-null  object
 6   c_section_yn                       26603 non-null  object
 7   child_health_measles_immun_calc    26603 non-null  object
 8   num_nurses_fulltime                26603 non-null  float64
 9   num_nursemidwives_fulltime         26603 non-null  float64
 10  num_doctors_fulltime               26603 non-null  float64
 11  date_of_survey                     26603 non-null  object
 12  facility_id                        26603 non-null  object
 13  community                          26603 non-null  object
 14  ward                               26603 non-null  object
 15  management                         26603 non-null  object
 16  improved_water_supply              26603 non-null  object
 17  improved_sanitation                26603 non-null  object
 18  vaccines_fridge_freezer            26603 non-null  object
 19  antenatal_care_yn                  26603 non-null  object
 20  family_planning_yn                 26603 non-null  object
 21  malaria_treatment_artemisinin      26603 non-null  object
 22  sector                             26603 non-null  object
 23  gps                                26603 non-null  object
 24  latitude                           26603 non-null  float64
 25  longitude                          26603 non-null  float64
dtypes: bool(1), float64(6), object(19)
memory usage: 5.3+ MB

# Covid cases

In [17]:
import pandas as pd

In [18]:
covid_cases = pd.read_csv('data/covid_cases.txt')
covid_cases

,case_id,origin_case_id,date,age,gender,city,province/state,country,current_status,source,symptoms,date_onset_symptoms,date_admission_hospital,date_confirmation,underlying_conditions,travel_history_dates,travel_history_location,death_date,notes_for_discussion,Unnamed: 19
0,1,NaN,2/27/2020,44,Male,Ogun,Ogun,Nigeria,In recovery,www.bbc.com,NaN,NaN,2/27/2020,27-Feb-20,No,NaN,Italy,NaN,Patient came in from Italy.,NaN
1,2,NaN,03/09/2020,NaN,NaN,Ogun,Ogun,Nigeria,In treatment,https://twitter.com/NCDCgov/status/12376418124...,NaN,03/09/2020,03/09/2020,03/09/2020,No,NaN,NaN,NaN,NaN,NaN
2,3,NaN,3/16/2020,30,Female,Lagos,Lagos,Nigeria,Clinically Stable,https://twitter.com/NCDCgov/status/12398485450...,"Fever, Cold, Cough",NaN,3/17/2020,3/17/2020,NaN,13-Mar-20,United Kingdom,NaN,Patient returned from trip to UK and was in 14...,NaN
3,4,NaN,3/16/2020,58,Male,Lagos,Lagos,Nigeria,NaN,https://twitter.com/NCDCgov/status/12405579967...,NaN,NaN,NaN,NaN,NaN,13-Mar-20,USA,NaN,Patient returned from travel to USA,NaN
4,5,NaN,3/16/2020,38,Female,NaN,Ekiti,Nigeria,NaN,https://twitter.com/NCDCgov/status/12405579967...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient made contact with traveler from the USA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6396,6397,NaN,05/19/2020,NaN,NaN,NaN,Bauchi,Nigeria,NaN,https://twitter.com/NCDCgov/status/12628754606...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6397,6398,NaN,05/19/2020,NaN,NaN,NaN,Gombe,Nigeria,NaN,https://twitter.com/NCDCgov/status/12628754606...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6398,6399,NaN,05/19/2020,NaN,NaN,NaN,Gombe,Nigeria,NaN,https://twitter.com/NCDCgov/status/12628754606...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6399,6400,NaN,05/19/2020,NaN,NaN,NaN,Enugu,Nigeria,NaN,https://twitter.com/NCDCgov/status/12628754606...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6400,6401,NaN,05/19/2020,NaN,NaN,NaN,Bayelsa,Nigeria,NaN,https://twitter.com/NCDCgov/status/12628754606...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
covid_cases.dtypes
covid_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6401 entries, 0 to 6400
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   case_id                  6401 non-null   int64
 1   origin_case_id           0 non-null      float64
 2   date                     6401 non-null   object
 3   age                      10 non-null     object
 4   gender                   12 non-null     object
 5   city                     16 non-null     object
 6   province/state           6401 non-null   object
 7   country                  6401 non-null   object
 8   current_status           381 non-null    object
 9   source                   6401 non-null   object
 10  symptoms                 384 non-null    object
 11  date_onset_symptoms      1 non-null      object
 12  date_admission_hospital  4 non-null      object
 13  date_confirmation        27 non-null     object
 14  underlying_conditions    4 non-null      object
 15  travel_history_dates     15 non-null     object
 16  travel_history_location  32 non-null     object
 17  death_date               1 non-null      object
 18  notes_for_discussion     39 non-null     object
 19  Unnamed: 19              2 non-null      object
dtypes: float64(1), int64(1), object(18)
memory usage: 1000.3+ KB

In [25]:
covid_cases['country'].unique()

array(['Nigeria'], dtype=object)

In [26]:
covid_cases_clean = covid_cases[['case_id','date', 'province/state', 'source']]
covid_cases_clean

,case_id,date,province/state,source
0,1,2/27/2020,Ogun,www.bbc.com
1,2,03/09/2020,Ogun,https://twitter.com/NCDCgov/status/12376418124...
2,3,3/16/2020,Lagos,https://twitter.com/NCDCgov/status/12398485450...
3,4,3/16/2020,Lagos,https://twitter.com/NCDCgov/status/12405579967...
4,5,3/16/2020,Ekiti,https://twitter.com/NCDCgov/status/12405579967...
...,...,...,...,...
6396,6397,05/19/2020,Bauchi,https://twitter.com/NCDCgov/status/12628754606...
6397,6398,05/19/2020,Gombe,https://twitter.com/NCDCgov/status/12628754606...
6398,6399,05/19/2020,Gombe,https://twitter.com/NCDCgov/status/12628754606...
6399,6400,05/19/2020,Enugu,https://twitter.com/NCDCgov/status/12628754606...
6400,6401,05/19/2020,Bayelsa,https://twitter.com/NCDCgov/status/12628754606...

# Population data

In [ ]:
import pandas as pd

In [28]:
pop_data = pd.read_csv('data/population_data.csv')
display(pop_data.sample(10))
pop_data.info()

   admin1Name_en Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4
5           Ogun      NG028    Nigeria         NG     5048351
32       Plateau      NG032    Nigeria         NG     4088038
16          Osun      NG030    Nigeria         NG     4596693
24         Enugu      NG014    Nigeria         NG     4299281
29        Jigawa      NG018    Nigeria         NG     5690516
15       Anambra      NG004    Nigeria         NG     5425334
8         Rivers      NG033    Nigeria         NG     7081412
1          Borno      NG008    Nigeria         NG     5669054
34        Kaduna      NG019    Nigeria         NG     8007205
19           Edo      NG012    Nigeria         NG     4138994

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   admin1Name_en  37 non-null     object
 1   Unnamed: 1     37 non-null     object
 2   Unnamed: 2     37 non-null     object
 3   Unnamed: 3     37 non-null     object
 4   Unnamed: 4     37 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.6+ KB

In [31]:
pop_data['Unnamed: 4'].sum() / 10**6
# Nigeria's population is ~195 million, says Google

187.78329

In [48]:
pop_data_clean = pop_data.iloc[:, [0,-1]]
pop_data_clean

pop_data_clean.columns = ['region', 'population']
pop_data_clean

                       region  population
0                        Abia     3644714
1                       Borno     5669054
2   Federal Capital Territory     2996670
3                   Akwa Ibom     5353609
4                      Ebonyi     2819675
5                        Ogun     5048351
6                 Cross River     3780419
7                         Imo     5283288
8                      Rivers     7081412
9                        Kogi     4327246
10                      Benue     5568946
11                      Ekiti     3174006
12                        Oyo     7636122
13                      Niger     5394631
14                      Lagos    12102238
15                    Anambra     5425334
16                       Osun     4596693
17                       Kano    12706778
18                      Gombe     3160494
19                        Edo     4138994
20                       Ondo     4541779
21                   Nasarawa     2459321
22                      Kebbi     4311454
23                     Bauchi     6386388
24                      Enugu     4299281
25                      Delta     5502806
26                    Zamfara     4376911
27                     Taraba     2984174
28                      Kwara     3129582
29                     Jigawa     5690516
30                       Yobe     3197296
31                    Katsina     7645575
32                    Plateau     4088038
33                     Sokoto     4879641
34                     Kaduna     8007205
35                    Bayelsa     2228965
36                    Adamawa     4145684

In [61]:
pop_data_clean['region'].nunique() == len(pop_data_clean)

# True => all good, all are unique regions

True

# Geodata

 Install Geo Pandas:
 
 https://geopandas.org/install.html

In [60]:
# !conda install geopandas

Giving up here...

Not sure what exactly .gdb is. Possibly something like SQL?? Seems like it may require quite some time to figure this out.

In [62]:
import geopandas as gpd

ModuleNotFoundError: No module named 'geopandas'